<div class="h-screen snap-y snap-mandatory overflow-y-scroll scroll-smooth">






    <h1 class="text-4xl md:text-6xl font-bold text-center text-blue-600 mt-8">
        Il Giro del Mondo
    </h1>



    <!-- Sezione informativa -->
    <section class="max-w-6xl mx-auto px-4 grid grid-cols-1 gap-8">
        <!-- Prima carta -->
        <div class="bg-white rounded-lg shadow-md p-6">
            <h2 class="text-xl font-semibold text-blue-500 mb-4 text-center">Idea</h2>
            <p class="text-gray-600 text-justify">

                Inizio la mia avventura partendo dal Ticino il 25 gennaio 2025.
                Arriverò a Capo Nord nel periodo invernale, il che significa che sfiorerò i -30 gradi. Dopodiché
                riscenderò l'Europa fino in Turchia, per poi entrare in Georgia e proseguire in Azerbaijan, Kazakistan,
                Cina e Mongolia.<br>

                Riattraverserò la Cina per andare dall'Indonesia all'Australia, passando per l'Outback desertico fino a
                Sydney. A questo punto deciderò se prendere un aereo o una nave per raggiungere il Sud America. Da lì
                salirò per il Cile, il Perù, il Messico, gli Stati Uniti e, infine, il Canada.<br>

                Sarebbe un mio sogno tornare nel continente europeo fino a casa, passando per vie terrene: ciò
                significherebbe attraversare l'Alaska e la Siberia per arrivare in Russia, passando dallo Stretto di
                Bering. Durante l'inverno si forma infatti un'autostrada di ghiaccio che collega i due continenti.<br>
                
                <span class="font-semibold">Tempo stimato:</span> 2-3 anni

            </p>
        </div>

        <!-- Seconda carta -->

    </section>

    <!-- Mappa -->
    <section class="w-full mt-12 px-4">
        <div class="max-w-6xl mx-auto mb-40 pb-11 md:mb-28">
            <h2 class="text-2xl font-semibold text-center text-blue-600 mb-4">
                Il mio itineraio
            </h2>
            <div class="aspect-w-16 lg:aspect-h-9 rounded-lg overflow-hidden shadow-md container-frame">
                <iframe class="responsive-iframe"
                    src="https://www.google.com/maps/d/embed?mid=1Ep67rsz3ZiBlOPiqyQtD8qRc2IbXNo8&hl=it&ehbc=2E312"></iframe>
            </div>
        </div>
    </section>
</div>