<div class="h-screen snap-y snap-mandatory overflow-y-scroll scroll-smooth">





    
    <h1 class="text-4xl md:text-6xl font-bold text-center text-blue-600 mt-8">
        Il Giro del Mondo
    </h1>



    <!-- Sezione informativa -->
    <section class="max-w-6xl mx-auto px-4 grid grid-cols-1 gap-8">
        <!-- Prima carta -->
        <div class="bg-white rounded-lg shadow-md p-6">
            <h2 class="text-xl font-semibold text-blue-500 mb-4 text-center">Idea</h2>
            <p class="text-gray-600 text-justify">

                La mia idea iniziale e andare verso Capo Nord però facendolo durante l'inverno
                con temperature che possono variare dai -20 ai -30,dopo di che da lì riscenderò l'europa fino in
                Turchia dove entrerò in Georgia per proseguire in Azerbaijan, Kazakistan,Cina, Mongolia, di nuovo in
                Cina per poi andare ad attraversare l'Indonesia fino in Australia dove attraverserò l'out Bach
                desertico fino a Sydney che dovrò decidere se prendere un aereo o una nave per arrivare in sud
                america cosí che da risalire Cile, Perú, Messico, Stati Uniti fino in Canada.<br>
                Da lì sarebbe un mio sogno tornare nel continente europeo fino a casa passando per
                    vie terrene che vorrebbe dire attraversare Alasca e Siberia per arrivare in Russia passando dallo
                    Stretto di Bering perché durante l'inverno si forma una autostrada di ghiaccio che collega i due
                    contineti.
            </p>
        </div>

        <!-- Seconda carta -->
        
    </section>

    <!-- Mappa -->
    <section class="w-full mt-12 px-4 mb-28">
        <div class="max-w-6xl mx-auto">
            <h2 class="text-2xl font-semibold text-center text-blue-600 mb-4">
                Il mio itineraio
            </h2>
            <div class="aspect-w-16 aspect-h-9 rounded-lg overflow-hidden shadow-md container-frame">
                <iframe  class="responsive-iframe" src="https://www.google.com/maps/d/embed?mid=1G6nU5Hs0JRtqX2UI1wDT2tmn40KeLhg&ehbc=2E312F" ></iframe>
            </div>
        </div>
    </section>
</div>