<section class="bg-gray-50 py-12 px-4 h-screen snap-y snap-mandatory overflow-y-scroll scroll-smooth">
    <div class="max-w-4xl mx-auto">
      <!-- Titolo -->
      <h2 class="text-3xl font-bold text-gray-800 text-center mb-6">Seguimi nelle mie imprese</h2>
      <!-- Descrizione -->
      <p class="text-gray-600 text-lg text-center mb-8">
        Mi chiamo Costantino Armando sono un appassionato di ciclismo, MTB e sport alpini in generale, ma da qualche anno ho iniziato a viaggiare in bikepacking per poter esplorare piú liberamente il mondo che mi circonda senza vincoli di mezzi a combustione, soprattutto nell' ultimo anno ho iniziato a provare e testare sempre piú i miei limiti portandomi in condizioni meteo e in luoghi sempre un pò piú estremi e proprio per questo motivo nella prima settimana di gennaio 2025 ho deciso di partire per fare il giro del mondo in bicicletta.
      </p>
      <!-- Foto -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6 ">
        <!-- Prima foto -->
        <div class="rounded-lg overflow-hidden shadow-lg">
          <img
            src="/assets/images/profiloArmando.jpg"
            alt="Foto 1"
            class="w-full md:h-64 object-cover"
          />
        </div>
        <!-- Seconda foto -->
        <div class="rounded-lg overflow-hidden shadow-lg">
          <img
            src="/assets/images/bici.jpg"
            alt="Foto 2"
            class="w-full md:h-64 object-cover"
          />
        </div>
      </div>
    </div>
  </section>
