
<section class="bg-gray-100 py-12 px-4 h-screen snap-y snap-mandatory overflow-y-scroll scroll-smooth">
    <div class="max-w-3xl mx-auto text-center">
      <h2 class="text-3xl font-bold text-gray-800 mb-4">Sostieni il Nostro Viaggio</h2>
      <p class="text-gray-600 mb-8">
        Il tuo contributo è fondamentale per continuare il nostro lavoro e raggiungere nuovi traguardi.
        Ogni piccolo gesto può fare una grande differenza. Grazie per il tuo supporto!
      </p>
      <div class="bg-white shadow-md rounded-lg p-6 border border-gray-200 mb-20 md:mb-2">
        <h3 class="text-xl font-semibold text-gray-700 mb-2">IBAN per il Sostegno</h3>
        <p class="text-gray-500 mb-4">Puoi effettuare una donazione al seguente IBAN:</p>
        <div class="bg-gray-100 px-4 py-2 rounded-lg text-gray-800 font-mono text-lg">
          CH68 8080 8007 8111 1885 0
        </div>
        <h3 class="text-xl font-semibold text-gray-700 mb-2">Supporto su TWINT</h3>
        <p class="text-gray-500 mb-4">Puoi effettuare una donazione al seguente numero:</p>
        <div class="bg-gray-100 px-4 py-2 rounded-lg text-gray-800 font-mono text-lg">
          +41 78 406 62 97
        </div>

        <h3 class="text-xl font-semibold text-gray-700 mb-2">Supporto su Revolut</h3>
        <p class="text-gray-500 mb-4">Puoi effettuare una donazione al seguente account:</p>
        <div class="bg-gray-100 px-4 py-2 rounded-lg text-gray-800 font-mono text-lg">
          &#64;armandkyrn
        </div>
      </div>
    </div>
  </section>